body {
  background-color: #0A2344;
}

h1 {
  text-align: center;
  color: blue;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion-head {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: green;
  cursor: pointer;
}

.accordion .accordion-head::before {
  content: '+';
  color: red;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion .text {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accordion hr {
  width: 100%;
  margin-left: 0;
  border: 1px solid red;
}

.accordion .container.active .text {
  height: 150px;
}

.accordion .container.active .text::before {
  content: '-';
  font-size: 30px;
}
